<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 环境配置 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器：使用 JDBC 事务 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源：使用 POOLED 连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property
                        name="url"
                        value="jdbc:mysql://localhost:3306/testdb?
                        useSSL=false&amp;
                        serverTimezone=Asia/Shanghai&amp;
                        allowPublicKeyRetrieval=true&amp;
                        useUnicode=true&amp;
                        characterEncoding=UTF-8&amp;
                        connectionCollation=utf8mb4_unicode_ci&amp;
                        characterSetResults=UTF-8"/>
                <property name="username" value="user"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射器配置：注册 Mapper XML 文件 -->
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>
